---
import "@/styles/globals.css";
import { Header } from "@/components/header/Header";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Settings">
    <main>
        
    </main>
</Layout>