---

import { Header } from "@/components/header/Header";
import { SideBar } from "@/components/sidebar/SideBar";
import { Unauthorized } from "@/components/unauthorized/unauthorized";
import { getSession } from "@/utils/getSession";
import { handleLogOut } from "@/utils/logout";
import { signIn } from "auth-astro/client";

interface Props {
  title: string;
}
const session = await getSession(Astro);
const { title } = Astro.props;
const sessionUserData = !session?.error ? session?.user : undefined

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-row">
      <div class="flex flex-col">
        <Header client:idle title={title} userData={sessionUserData} />
        <SideBar client:idle />
      </div>
      {sessionUserData ? <slot /> : <Unauthorized />}
    </div>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
  * {
    font-family: "Ropa Sans", sans-serif;
  }
  body {
    display: flex;
    flex-direction: row;
    background-color: #dddddd;
  }
</style>
